geopandas==1.1.2
numpy==2.0.2
pandas==2.2.2
pandas-datareader==0.10.0
pandas-gbq==0.30.0
pandas-stubs==2.2.2.240909
requests==2.32.4
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
sklearn-pandas==2.2.0
